# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment / config
.env
*.env

# Database
db.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Media / uploads
media/
staticfiles/
*.log

# IDE / editor
.vscode/
.idea/
*.swp
