# Python bytecode
*.pyc
__pycache__/

# Django database
db.sqlite3

# Environment variables
.env

# Django media files
media/
feed/test_media/

# VSCode / IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker (if added later)
*.pid
*.sock
*.bak

# Optional: coverage reports
htmlcov/
.coverage
